* {
    border-radius: 0 !important;
}

html,
body,
.container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.main-body {
    background-color: #4A96AD;
    padding: 25px;
    height: auto;
    
    border-radius: 10px !important;

    
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  background-color: #f3f2ef;
  border-radius: 3px;
}